--index-url  https://pypi.python.org/simple
google-api-python-client
google-cloud-bigquery
ipython
jupyter
jupyterlab
matplotlib
nltk
numpy
pandas
pandas-gbq
pip
python>=3.5.4
scikit-learn
scipy
seaborn
statsmodels
textblob
wordcloud
